{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
    <div class="col col-lg-3">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="form-group">
            {{ form_label(form.q) }}
            {{ form_widget(form.q) }}
            {% for error in form.q.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form_widget(form.save, { 'label': 'Pesquisar!' }) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>

{% if results %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <h2>Resultado da pesquisa (Total: {{ results.total_count }})</h2>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            {% for result in results.items %}
                <div class="card">
                    <div class="card-header">
                        {{ result.name }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Usuário:</strong> {{ result.owner.login }} <br>
                            <strong>Criado em:</strong> {{ result.created_at|date("d/m/Y") }}
                        </p>
                        <p>
                            <a href="#{{ result.id }}" class="btn btn-primary btn-sm" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Detalhes</a>
                        </p>
                        <div class="collapse" id="{{ result.id }}">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if getPagination %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if getPagination.first is not defined %}disabled{% endif %}">
                {% if getPagination.first is defined %}
                    <a class="page-link" href=" {{ getPagination.first }}" tabindex="-1"><<</a>
                {% else %}
                    <a class="page-link" href="#" tabindex="-1"><<</a>
                {% endif %}
            </li>

            <li class="page-item {% if getPagination.prev is not defined %}disabled{% endif %}">
                {% if getPagination.prev is defined %}
                    <a class="page-link" href="{{ getPagination.prev }}"><</a>
                {% else %}
                    <a class="page-link" href="#"><</a>
                {% endif %}
            </li>

            <li class="page-item active">
                <span class="page-link">
                    {{ getPagination.actual }}
                </span>
            </li>

            <li class="page-item {% if getPagination.next is not defined %}disabled{% endif %}">
                {% if getPagination.next is defined %}
                    <a class="page-link" href="{{ getPagination.next }}">></a>
                {% else %}
                    <a class="page-link" href="#">></a>
                {% endif %}
            </li>

            <li class="page-item {% if getPagination.last is not defined %}disabled{% endif %}">
                {% if getPagination.last is defined %}
                    <a class="page-link" href=" {{ getPagination.last }}" tabindex="-1">>></a>
                {% else %}
                    <a class="page-link" href="#" tabindex="-1">>></a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}

{% endblock %}
