{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
    <div class="col col-lg-3">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.save, { 'label': 'Pesquisar!' }) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>

{% if results %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <h2>Resultado da pesquisa</h2>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            {% for result in results.items %}
                <div class="card">
                    <div class="card-header">
                        {{ result.name }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Usuário:</strong> {{ result.owner.login }} <br>
                            <strong>Criado em:</strong> {{ result.created_at|date("d/m/Y") }}
                        </p>
                        <p>
                            <a href="#{{ result.id }}" class="btn btn-primary btn-sm" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Detalhes</a>
                        </p>
                        <div class="collapse" id="{{ result.id }}">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                ...
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
